{% extends 'base.html.twig' %}

{% block title %}Edit Divisa{% endblock %}

{% block body %}
    <h1>Edit Divisa</h1>

    {{ include('divisa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('divisa_index') }}">back to list</a>

    {{ include('divisa/_delete_form.html.twig') }}
{% endblock %}
