{% extends 'base.html.twig' %}

{% block title %}New Moneda{% endblock %}

{% block body %}
    <h1>Create new Moneda</h1>

    {{ include('moneda/_form.html.twig') }}

    <a href="{{ path('moneda_index') }}">back to list</a>
{% endblock %}
